./Assets/3D_Module/JWST/JSWTfromMaya.fbx
./Assets/3D_Module/JWST/JWST_a1.mb
./Temp/StagingArea/Data/*
./Library/PlayerDataCache/OSXUniversal/Data/sharedassets0.assets
./Library/metadata/a2/a2e6077645842459fb16949ca9ff0e7e
